#!/bin/bash

password_hash=$(echo "'{{ aws_instance.aws_linux_ansible_password }}'" | openssl passwd -6 -stdin)
useradd --comment "Ansible User Account" --user-group --groups wheel --password ${password_hash} "{{ aws_instance.aws_linux_ansible_username }}"

mkdir ~"{{ aws_instance.aws_linux_ansible_username }}"/.ssh
chmod 700 ~"{{ aws_instance.aws_linux_ansible_username }}"/.ssh

echo "{{ public key }}" > ~"{{ aws_instance.aws_linux_ansible_username }}"/.ssh/authorized_keys
chmod 600 ~"{{ aws_instance.aws_linux_ansible_username }}"/.ssh/authorized_keys

chown -R "{{ aws_instance.aws_linux_ansible_username }}"."{{ aws_instance.aws_linux_ansible_username }}" ~"{{ aws_instance.aws_linux_ansible_username }}"/.ssh

echo "{{ aws_instance.aws_linux_ansible_username }}        ALL=(ALL)       NOPASSWD: ALL" > /etc/sudoers.d/"{{ aws_instance.aws_linux_ansible_username }}"
chmod 644 /etc/sudoers.d/"{{ aws_instance.aws_linux_ansible_username }}"
